* {
  font-family: 'Open Sans';
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url(./fonts/fat.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url(./fonts/bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url(./fonts/regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(./fonts/light.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(./fonts/thin.woff2) format('woff2');
}

#container.ui.container {
  border-radius: 4px;
  box-shadow: 0 1px 8px 1px #bbb;
  width: 400px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: white;
}

#header {
  background: #0fbfd6;
  padding: 2rem;
}

#map {
  height: 100vh;
}

#description {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 2rem 2rem 0;
  border-bottom: 0;
}

#project h2 {
  float: left;
  margin-right: 20px;
}

#coordinates div {
  width: 99px;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  line-height: 4rem;
  font-size: 1.2rem;
  text-align: center;
  color: #999;
  font-weight: 300;
  float: left;
}

#coordinates .divider {
  float: left;
  line-height: 4rem;
  width: 1px;
  padding: 2rem 0;
  height: 100%;
  border-left: 1px solid #e8e8e8;
}

.row {
  /*border-bottom: 1px solid #e8e8e8;*/
  width: 100%;
}

#search .ui.input {
  width: 100%;
  float: left;
}

#projectlist {
  font-weight: 400;
  height: 4rem;
  float: left;
  width: 100%;
  font-size: 1.5rem;
}

#search.row {
  padding: 2rem;
  height: 8rem;
  border-bottom: 1px solid #e8e8e8;
}

#projects.row {
  padding: 2rem 2rem 0;
  height: 6rem;
}

#search-box {
  font-weight: 400;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 1.5rem;
}

#search-box::-webkit-input-placeholder {
  color: #ccc;
}

#search-box:-moz-placeholder {
  color: #ccc;
  opacity:  1;
}

#search-box::-moz-placeholder {
  color: #ccc;
  opacity:  1;
}

#search-box:-ms-input-placeholder {
  color: #ccc;
}

#datatable.row {
  border-bottom: 1px solid #e8e8e8;
  padding: 3rem 2rem 2rem;
}

#header h1, #header h2 {
  font-weight: 600;
  font-size: 6rem;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

#header h2 {
  font-weight: 300;
  font-size: 2rem;
}

#export {
  text-transform: uppercase;
}

.item {
  width: 100%;
  height: 5rem;
}

#export.button {
  width: 100%;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  height: 5rem;
  background: #f9f9f9;
  border: 0;
  transition: background 0.5s;
}

#export.button:hover {
  background: #f0f0f0;
}

.item .ui.toggle {
   float: left;
  margin-top: 10px;
}

.item h4 {
  float: left;
  margin: 10px;
}

#project {
  background-color: #0fbfd6;
}

#login {
  padding: 2rem 2rem 0;
  border-bottom: 0;
}

#login .button {
  background-color: #0fbfd6;
  text-align: center;
  width: 100%;
  color: white;
}

.ui.toggle.checkbox {
  float: left;
  width: 25%;
}

.ui.huge.input {
  float: right;
  width: 75%;
}

.ui.toggle.checkbox label {
  width: 4rem;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #0fbfd6!important;
}

.ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
  width: 2rem; 
  height: 2rem; 
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  width: 4rem; 
  height: 2rem; 
}

.ui.toggle.checkbox input {
  height: 2rem; 
}

.ui.toggle.checkbox .box, .ui.toggle.checkbox label {
  min-height: 2rem;
}

.ui.huge.search {
  width: 100%;
}

.info {
  color: #ccc;
  font-style: italic;
  font-size: 0.8rem;
  float: right;
}

.ui.dropdown .menu .active.item {
  font-weight: 600;
}
